[user]
	email = matijacufar@gmail.com
	name = mtsch
[credential]
	helper = store
[github]
	user = mtsch
[core]
	excludesFile = ~/.gitignore
	autocrlf = false
[pull]
	rebase = false
[init]
	defaultBranch = master
